* {
  animation: show-website 1s;
}

@keyframes show-website {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px repeat(2, 1fr);

  padding: 10px;
}

main > nav {
  grid-column: 1;
  grid-row: 1;
  order: 1;

  display: flex;
  justify-content: right;
  align-items: right;
}

main > header {
  grid-column: 1;
  grid-row: 1;
  order: 0;

  display: flex;
  align-items: left;
  justify-content: left;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > .header-title > p {
  font-size: 24px;
  padding: 0;
  margin: 0px 0px 0px 15px;
}

header > .header-title > h1 {
  font-size: 48px;
  padding: 0;
  margin: 0px 0px 0px 15px;
}

header > .header-title > h1 > span {
  font-size: 24px;
}

header > img {
  border-radius: 100%;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
}

#bio {
  display: flex;
  align-items: left;
  justify-content: left;

  grid-column: 1;
  grid-row: 1
}

#pictures {
  display: flex;
  align-items: right;
  justify-content: right;

  grid-column: 2;
  grid-row: 1;
}
