nav > #nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

#nav-list > li {
  list-style-type: none;
  padding: 20px;
  background-color: #ff2929;
  width: 150px;
  height: 20px;
  border-radius: 10px;
  text-align: center;

  transition: background-color 250ms ease-in;
}

#nav-list > li > a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  text-align: center;
}

#nav-list > li:hover {
  background-color: #cc5454;
}
